
$bluecolor: #03054e;
$blueBurger: #02032e;
$pincColor: #ff89ff;
$whiteBlueColor: #14c6fe;
$yellowColor: #dcd34b;
$buttonColor:#2878bb;
$blueMain: #02097b;
$blueSec1: #0310a1;
$blueSec2: #00629e;
$textColor: #ccc9c9 ;

$cookBg: #f7f0b3;